body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  color: rgb(58, 58, 58);
}

#background-img {
  width: 100vw;
  height: 100vh;
  opacity: .8;
  z-index: -1;
}

#logo {
  height: 10vh;
  width: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ui.grid.login-container{
  margin-top: 20vh;
}

.ui.header.login-text {
  color: rgb(58, 58, 58);
}

.login-form {
  z-index: 1;
  width: 40vw;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.profile-img {
  width: 4em;
  height: 4em;
}

.profile-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

.profile-column {
  background-color: rgb(58, 58, 58, .8);
  height: 60vh;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 8vh;
}
.profile-column h1 {
  color: rgb(193, 191, 191);
  background-color: rgb(58, 58, 58);
  font-weight: 300;
  justify-content: center;
}

#pro-img-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  padding: 0;
}
#pro-img-name h1 {
  margin: 0;
}
.profile-img-home {
  width: 13em;
  height: 13em;
}

.stats {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.stats-boxes {
  width: 20vw;
  height: 22vh;
}

.start-button {
  margin: 1em;
}

#game-container h1 {
  font-size: 3em;
}

#game-container h2 {
  margin-top: 0;
}

.loading-message {
  margin-bottom: 7vh;
}

#game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 32vw;
  margin-left: 5vw;
  justify-content: space-between;
}

#game-info h2 {
  color: rgb(58, 58, 58);
  margin-bottom: 0;
}
#game-info h1 {
  align-self: center;
}
.leave-join {
  position: fixed;
  right: 0%;
  top: 18%;
  transform: translate(-50%, -50%);
}

#room-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.player-cards {
  width: 25vw;
  height: 25vh;
}

#grid-container {
  margin-top: 3em;
}
